<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_passarofogo"
        android:roundIcon="@drawable/logo_passarofogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="Flamejante"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Cadastro"
            android:label="Cadastro"
            android:exported="true"/>
        <activity android:name=".EsqueciMinhaSenha"
            android:label="Redefinir Senha"
            android:exported="true"/>
        <activity android:name=".Home"
            android:label="Página Principal"
            android:exported="true"/>


    </application>

</manifest>